.forget-pass {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.forget-pass > h1 {
  text-align: center;
  width: 100px;
}

.forget-pass > form > label {
  display: block;
  margin-bottom: 10px;
}

.forget-pass > form > [type="email"] {
  width: 300px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 2px solid black;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.4s;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 20px;
}

.forget-pass>form>[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.forget-pass > form > [type="submit"]:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 17px;
  border: 2px solid #4caf50;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.4s;
  background-color: transparent;
}
