html {
  --Primary-color: #284dd2;
  --Secondary-color: #3e5bc1;
  --Third-color: #4d5f9d;
  --CTA-1: #08102b;
  --CTA-2: #393e51;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
  width: 90%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s;
  margin-left: 150px;
}
.navbar-container > .logo,
.navbar-container > .logo-off {
  width: 200px;
  height: 85px;
}
.logo > a,
.logo-off > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.logo > a:hover,
.logo-off > a:hover {
  cursor: pointer;
}
.logo > a > div,
.logo-off > a > div {
  width: 100%;
  height: 100%;
  background-image: url(../Images/BDPA_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
}
.logo > a > h1,
.logo-off > a > h1 {
  font-size: 42px;
  color: var(--CTA-1);
  text-shadow: none;
}
.menu-btn {
  display: none;
  visibility: hidden;
  transition: all 0.5s ease;
}
.navbar-container > .navbar-links-nav,
.navbar-container > .navbar-links-off {
  transition: all 0.5s;
}
.navbar-links-nav > ul,
.navbar-links-off > ul {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.navbar-links-nav > ul > li,
.navbar-links-off > ul > li {
  list-style-type: none;
  list-style: none;
}
.navbar-container > .navbar-links-nav > ul > li > a,
.navbar-links-off > ul > li > a {
  color: var(--CTA-1);
  font-size: 26px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  padding: 2px;
  padding-bottom: 5px;
  outline: 2px solid transparent;
  border-radius: 2px;
  text-shadow: none;
}
.navbar-links-nav > ul > li > a:hover,
.navbar-links-off > ul > li > a:hover {
  cursor: pointer;
  color: var(--Secondary-color);
}
.navbar-container > .navbar-links-nav > ul > li > a:focus,
.navbar-links-off > ul > li > a:focus {
  outline: 2px solid var(--CTA-2);
}
.navbar-links-nav > ul > li > a.active,
.navbar-links-off > ul > li > a.active {
  color: var(--Primary-color);
  border-bottom: 2px solid var(--Third-color);
  border-bottom-width: 3px;
  outline: 2px solid transparent;
  border-radius: 2px;
}
.navbar-links-nav > ul > li > a.active:hover,
.navbar-links-off > ul > li > a.active:hover {
  outline: 2px solid var(--Third-color);
}
.navbar-links-nav > ul > li > a.active:focus,
.navbar-container > .navbar-links-off > ul > li > a.active:focus {
  outline: 2px solid var(--Primary-color);
}
.btn-logins,
.btn-logins-off {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.btn-logins > a,.btn-logins-off > a {
  outline: none;
}
.btn-logins > a > .btn-login,
.btn-logins-off > a > .btn-login  {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid transparent;
  outline: 2px solid transparent;
  color: var(--CTA-1);
  font-size: 20px;
  transition: all 0.2s;
  background: none;
}
.btn-logins > a > .btn-login:focus,
.btn-logins-off > a > .btn-login:focus {
  outline: 2px solid var(--CTA-1);
}
.btn-logins > a > .btn-login:hover,
.btn-logins-off > a > .btn-login:hover {
  cursor: pointer;
  border: 2px solid #4d5f9d;
}
.btn-logins > a > .btn-signUp,
.btn-logins-off > a > .btn-signUp  {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid transparent;
  color: white;
  font-size: 20px;
  transition: all 0.5s ease;
  background: var(--Primary-color);
}
.btn-logins > a > .btn-signUp:hover,
.btn-logins-off > a > .btn-signUp:hover {
  cursor: pointer;
  background: var(--Third-color);
}
@media (max-width: 1250px) and (min-width: 1000px) {
  .navbar-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    margin-left: 0px;
  }
  .navbar-container > .logo,
  .navbar-container > .logo-off {
    width: 200px;
    height: 95%;
    margin-left: 20px;
  }
}

@media (max-width: 999px) and (min-width: 699px) {
  .navbar-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    margin-left: 0px;
  }
  .navbar-container > .navbar-links-nav,
  .navbar-container > .navbar-links-off {
    transition: all 0.5s;
    margin-right: 20px;
  }
  .navbar-container > .logo,
  .navbar-container > .logo-off {
    width: 150px;
    height: 110px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: -40px;
    transition: all 0.5s;
  }
  .logo > a,
  .logo-off > a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
  }
  .logo > a:hover,
  .logo-off > a:hover {
    cursor: pointer;
  }
  .logo > a > div,
  .logo-off > a > div {
    width: 100%;
    height: 100%;
    background-image: url(../Images/BDPA_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
  }
  .logo > a > h1,
  .logo-off > a > h1 {
    font-size: 30px;
    color: var(--CTA-1);
    text-shadow: none;
  }
  .btn-logins,
  .btn-logins-off  {
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0px;
    border: none;
    border-radius: 15px;
  }
  .btn-logins > a,
  .btn-logins-off > a  {
    outline: none;
  }
  .btn-logins > a > .btn-login,
  .btn-logins-off > a > .btn-login {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    outline: 2px solid var(--Primary-color);
    color: var(--CTA-1);
    font-size: 20px;
    transition: all 0.2s;
    background: white;
  }
  .btn-logins > a > .btn-login:focus,
  .btn-logins-off > a > .btn-login:focus  {
    outline: 2px solid var(--CTA-1);
  }
  .btn-logins > a > .btn-signUp,.btn-logins-off > a > .btn-signUp {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid transparent;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;
    background: var(--Primary-color);
  }
  .btn-logins > a > .btn-signUp:hover,.btn-logins-off > a > .btn-signUp:hover {
    cursor: pointer;
    background: var(--Third-color);
  }
}

@media (max-width: 700px) {
  .navbar-container {
    width: 100%;
    height: 20pc;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    margin-left: 0px;
    transition: all 0.5s;
    float: left;
  }
  .logo {
    width: 200px;
    height: 95%;
    margin-top: 20px;
    transition: all 0s;
    margin-left: 20px;
  }
  .logo-off {
    width: 200px;
    transition: all 0s;
    position: absolute;
    top: 10px;
    margin-left: 20px;
  }
  .navbar-container > .navbar-links-nav {
    width: 100%;
    height: 70pc;
    background-color: #f0f0f0;
    margin-top: 5px;
    transition: all 0.5s;
    visibility: visible;
    display: block;
    overflow: hidden;
    z-index: 1;
  }
  .navbar-container > .navbar-links-off {
    visibility: hidden;
    display: none;
    pointer-events: none;
  }
  .navbar-links-nav > ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    align-items: flex-start;
    margin-top: 10px;
  }
  .navbar-links-nav-off > ul > li > a {
    transition: all 0.2s;
  }
  .navbar-links-off > ul > li > a:hover {
    cursor: none;
    pointer-events: none;
    color: var(--Secondary-color);
  }
  .btn-logins-off{
    display: none;
    visibility: hidden;
  }
  .btn-logins {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1px;
    position: absolute;
    top: 80px;
    right: 1px;
    z-index: 1;
    visibility: visible;
  }
  .btn-logins > a {
    outline: none;
  }
  .btn-logins > a > .btn-login {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #4d5f9d;
    outline: 2px solid transparent;
    color: var(--CTA-1);
    font-size: 20px;
    transition: all 0.2s;
    background: none;
  }
  .btn-logins > a > .btn-signUp {
    width: 120px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid transparent;
    color: white;
    font-size: 20px;
    transition: all 0.5s ease;
    background: var(--Primary-color);
  }
  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 60px;
    height: 40px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.4s;
  }
  .menu-btn:hover {
    background-color: #f0f0f0;
  }
}
