html {
  --Primary-color: #284dd2;
  --Secondary-color: #3e5bc1;
  --Third-color: #4d5f9d;
  --CTA-1: #08102b;
  --CTA-2: #393e51;
}
.nf-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}
.nf-cont-title {
  font-size: 6rem;
  color: var(--CTA-1);
  margin-bottom: 0;
}
.nf-cont-description {
  font-size: 2rem;
  color: var(--CTA-1);
  margin: 10px 0;
}
.nf-cont-description > a {
  color: var(--CTA-2);
  text-decoration: underline;
  font-weight: bold;
}
