html {
  --Primary-color: #284dd2;
  --Secondary-color: #3e5bc1;
  --Third-color: #4d5f9d;
  --CTA-1: #08102b;
  --CTA-2: #393e51;
  --danger: #dc3545;
  --Moderate: #cfbf39;
  --success: #1ecb34;
  overflow-x: hidden;
}
.profile-section-container {
  width: 98.5%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
  transition: all 0.3s;
}
.profile-section-container > .ps-profile-card {
  width: 50%;
  height: 27pc;
  margin-top: 10px;
  margin-left: 145px;
  border-radius: 20px;
  box-shadow: 5px 5px 18px 1px #000;
}
.ps-profile-card > .pc-back-img {
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: inherit;
}
.pc-middle-part {
  width: 100%;
  height: 160px;
  margin-top: -5.5pc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pc-profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px solid white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-left: 50px;
}
.pc-edit {
  width: 45px;
  height: 45px;
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
}
.pc-edit > .edit-icon {
  padding: 2px;
}
.pc-edit:hover {
  background-color: #e7e7e7;
  border: 1px solid var(--CTA-1);
}
.edit-btn-tooltip {
  position: absolute;
  top: -35px;
  left: -55px;
  width: 150px;
  height: 30px;
  border: 1px solid black;
  background-color: var(--CTA-1);
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  visibility: hidden;
  transition: all 0.3s;
}
.edit-btn-tooltip > p {
  color: white;
  margin-top: 12px;
  font-size: 18px;
}
.pc-edit:hover .edit-btn-tooltip {
  display: flex;
  visibility: visible;
}
.pc-information {
  width: 99%;
}
.pc-information > .pc-info-name {
  width: fit-content;
  padding: 1px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.pc-info-name > h1 {
  text-transform: capitalize;
  color: var(--CTA-1);
  font-size: 45px;
  margin-top: 10px;
}
.ac-description-edit-fullName {
  padding: 2px;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.4s ease;
  font-size: 20px;
  height: 30px;
  margin-bottom: 20px;
}
.pc-information > .pc-info-email_type {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.pc-info-email_type > .pc-info-email {
  height: 27px;
  width: 180%;
}
.pc-info-email > div {
  display: flex;
  justify-content: start;
  width: 90%;
  height: 30px;
  flex-wrap: wrap;
  gap: 8px;
}
.pc-info-email > div > p {
  font-size: 20px;
  height: 30px;
}
.pc-info-email > div > strong {
  font-size: 20px;
  width: auto;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
}
.pc-info-email_type > .pc-info-type {
  height: 27px;
  width: 100%;
}
.pc-info-type > p {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}
.pc-information > .pc-info-views {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: bottom;
  margin-top: -30px;
  margin-left: 10px;
}
.pc-info-views > p {
  font-size: 21px;
}
.profile-section-container > .ps-about-card {
  width: 50%;
  height: 22pc;
  margin-top: 10px;
  margin-left: 145px;
  border-radius: 20px;
  box-shadow: 3px 5px 10px 1px #000;
  overflow: hidden;
  overflow-y: scroll;
  transition: all 0.4s ease;
}
.ps-about-card > .about-card {
  font-size: 45px;
  margin-left: 10px;
  margin-top: 6px;
}
.about-card > h1 {
  color: var(--CTA-1);
  font-size: 45px;
}
.ps-about-card > .ac-name {
  width: 90%;
  height: 50px;
  border-radius: inherit;
  margin-left: 10px;
  margin-top: -12px;
}
.ac-name > h5 {
  text-transform: capitalize;
  font-size: 20px;
  color: var(--CTA-2);
  font-weight: 500;
}
.ps-about-card > .ac-description {
  width: 90%;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: -11px;
}
.ac-description > p {
  color: var(--CTA-1);
  font-size: 22px;
  font-weight: 400;
}
.ac-description > ul > li {
  list-style: none;
  list-style-type: none;
  text-transform: capitalize;
  margin-left: -30px;
  font-size: 20px;
}
.ps-about-card > .ac-description-edit {
  width: 89%;
  height: 170px;
  margin-left: 10px;
  margin-top: -10px;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  gap: 20px;
}
.skill-edit {
  width: 89%;
  height: 170px;
  margin-left: 10px;
  margin-top: -10px;
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: start;
  align-content: flex-start;
  gap: 10px;
}
.ac-description-edit > textarea {
  border: 1px solid black;
  height: 160px;
  width: 100%;
  padding: 2px;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.4s ease;
  resize: none;
  font-size: 19px;
  padding: 5px;
}
.ac-description-edit-skill-input {
  padding: 2px;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.4s ease;
  height: 30px;
}
.ac-description-edit-input-cont {
  width: 40%;
  height: auto;
  padding: 5px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ac-description-edit-btn {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  align-self: flex-end;
  padding-bottom: 5px;
}
.ac-description-edit-btn > button {
  background-color: var(--Primary-color);
  color: white;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: inherit;
  transition: all 0.4s;
  width: 200px;
  height: 95%;
}
.ac-description-edit-btn > button:hover {
  background-color: transparent;
  border: 2px solid var(--Primary-color);
  color: black;
}
.edit-submit-btn {
  width: 300px;
  height: 50px;
  position: fixed;
  top: 6pc;
  right: 500px;
}
.edit-submit-btn > button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: black;
  font-size: 24px;
  border: 2px solid #4caf50;
  transition: all 0.4s ease;
  border-radius: 2px;
}
.edit-submit-btn > button:hover {
  border: 2px solid transparent;
  border-radius: 12px;
  color: white;
  background-color: #4caf50;
}
.connection_btn {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 6pc;
  right: 320px;
}
.connection_btn > button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: black;
  font-size: 24px;
  border: 2px solid #4caf50;
  transition: all 0.4s ease;
  border-radius: 2px;
}
.connection_btn > button:hover {
  border: 2px solid transparent;
  border-radius: 12px;
  color: white;
  background-color: #4caf50;
}
@media (max-width: 1000px) and (min-width: 760px) {
  .profile-section-container {
    width: 98.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
    transition: all 0.3s;
  }
  .profile-section-container > .ps-profile-card {
    width: 60%;
    margin-left: 30px;
  }
  .profile-section-container > .ps-about-card {
    width: 60%;
    margin-left: 30px;
  }
}
@media (max-width: 760px) and (min-width: 650px) {
  .profile-section-container {
    width: 98.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    position: absolute;
    top: 120px;
    transition: all 0.3s;
  }
  .profile-section-container > .ps-profile-card {
    width: 70%;
    margin-left: 30px;
  }
  .profile-section-container > .ps-about-card {
    width: 70%;
    margin-left: 30px;
  }
}
@media (max-width: 650px) and (min-width: 100px) {
  .profile-section-container {
    width: 98.5%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    position: absolute;
    top: 120px;
    transition: all 0.3s;
    border: 3px solid black;
  }
  .profile-section-container > .ps-profile-card {
    width: 70%;
    margin-left: 30px;
  }
  .profile-section-container > .ps-about-card {
    width: 70%;
    margin-left: 30px;
  }
  .pc-info-email > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 30%;
    height: 50px;
    flex-wrap: nowrap;
    gap: 1px;
    margin-top: -10px;
  }
  .pc-info-email_type > .pc-info-type {
    height: 27px;
    width: 100%;
    margin-top: 20px;
  }
  .pc-info-email > div > strong {
    margin-top: -30px;
  }
  .pc-info-email > div > p,
  .pc-info-email > div > strong {
    font-size: 19px;
  }
  .pc-profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    margin-left: 1px;
  }
  .ps-profile-card > .pc-back-img {
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    object-fit: contain;
    border-radius: inherit;
  }

}
.deleteButton {
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid transparent;
  position: absolute;
  bottom: -30px;
  margin-left: 140px;
  color: white;
  font-size: 20px;
  transition: all 0.5s ease;
  background: #dc3545;
}