html {
  --Primary-color: #284dd2;
  --Secondary-color: #3e5bc1;
  --Third-color: #4d5f9d;
  --CTA-1: #08102b;
  --CTA-2: #393e51;
}
.sec3-n {
  width: 100%;
  height: 30rem;
  transition: all 0.2s;
}
.sec3-e {
  width: 100%;
  height: 50rem;
  transition: all 0.2s;
}
.sec3-n > .left-title,
.sec3-e > .left-title {
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 180px;
  margin-top: 100px;
  margin-right: 5px;
  font-family: "Times New Roman", serif;
}
.left-title > p {
  font-weight: 100;
  font-size: 55px;
  text-shadow: none;
  color: var(--CTA-1);
}
.right-content {
  width: 525px;
  height: 90%;
  margin-left: 47pc;
  margin-top: -155px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-bottom: 10px;
}
.right-content > .rc-title {
  margin-left: 15px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.rc-title > p {
  color: var(--CTA-1);
  font-size: 20px;
  text-shadow: none;
}
.rc-lst-n {
  width: 100%;
  height: 54%;
  overflow: hidden;
  padding-top: 3px;
  margin-top: -20px;
  transition: all 0.2s;
}
.rc-lst-e {
  width: 100%;
  height: 56pc;
  overflow: hidden;
  padding-top: 3px;
  margin-top: -20px;
  transition: all 0.2s;
}
.rc-lst-n > .rc-lst-ul,
.rc-lst-e > .rc-lst-ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 7px;
  margin-left: 10px;
}
.rc-lst-n > .rc-lst-ul > div,
.rc-lst-e > .rc-lst-ul > div {
  list-style: none;
  list-style-type: none;
  width: auto;
  height: 50px;
  border: 1px solid #444444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 10px;
  font-size: 18px;
  transition: all 0.3s;
}
.rc-lst-n > .rc-lst-ul > div:hover,
.rc-lst-e > .rc-lst-ul > div:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.rc-btn {
  margin-left: 11px;
  margin-top: -5px;
  width: 145px;
  height: 45px;
  border: 1px solid var(--CTA-1);
  border-radius: 30px;
  transition: all 0.4s ease;
}
.rc-btn:hover {
  background-color: #f0f0f0;
}
.rc-btn > button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--CTA-1);
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
@media (max-width: 1260px) and (min-width: 1000px) {
  .sec3-n > .left-title,
  .sec3-e > .left-title {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 100px;
    margin-right: 5px;
    font-family: "Times New Roman", serif;
  }
  .right-content {
    width: 525px;
    height: 90%;
    margin-left: 37pc;
    margin-top: -155px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1100px) and (min-width: 990px) {
  .sec3-n > .left-title,
  .sec3-e > .left-title {
    width: 500px;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 100px;
    margin-right: 5px;
    font-family: "Times New Roman", serif;
  }
  .right-content {
    width: 525px;
    height: 90%;
    margin-left: 30pc;
    margin-top: -155px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 990px) and (min-width: 500px) {
  .sec3-n > .left-title,
  .sec3-e > .left-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 100px;
    margin-right: 5px;
    font-family: "Times New Roman", serif;
  }
  .right-content {
    width: 525px;
    height: 90%;
    margin-left: 2px;
    margin-top: 2pc;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 500px) and (min-width: 300px) {
  .sec3-n > .left-title,
  .sec3-e > .left-title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 100px;
    font-family: "Times New Roman", serif;
    margin-right: 5px;
  }
  .right-content {
    width: 525px;
    height: 90%;
    margin-left: 2px;
    margin-top: 2pc;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding-bottom: 10px;
  }
  .rc-lst-n {
    width: 75%;
  }
  .rc-lst-e {
    width: 75%;
  }
}
